.contacto__body{
    
    background-color: black;
    color: gold;
    display: flex;
    flex-direction: column;
    height: 100%;
    & .contacto__box{
        display: flex;
        flex-direction: column;
        align-items: center;
        & .contacto__h1{
            display: flex;
            text-align: center;
            text-shadow: 0 0 10px #FFFFFF, 2px 0px 0px #DADADA;
        }
        & .contacto__seccion{
            padding: 10px;
            width: 399px;
            & .contacto__form{
                gap: 10px;
                display: flex;
                flex-direction: column;
                & input{
                    width: 200px;
                }
                & select{
                    width: 150px;
                }
            }
            & .contacto__text{
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 10px;
                & textarea{
                    width: 300px;
                }
                & input{
                    width: 60px;

                }
            }
        }
    }
}

@media(min-width: 400px){
 .contacto__body{
    height: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .contacto__box{
        width: 70%;
        height: 70%;
        background-image: url(../img/contacto.jpg);
        background-attachment: fixed;
        
        
    }
}
}