.counter__body{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
& h2{
    display: flex;
    justify-content: center;
    color: goldenrod;

}
& section{
    padding: 10px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: goldenrod;
    .counter__article{
        display: flex;
        flex-direction: column;

    }
  & .counter__article{
    & .counter__img{
        padding: 10px;
    }
    & iframe{
        width: 100%;
        height: 100%;
    }
  }
}
}
.counter__footer{
    background-color: black;
    display: flex;
    justify-content: center;
}
@media(min-width: 400px){
    .encabezado{
        & .nav__counter{
        font-size: 3rem;
background-image: none;
background-color: black;
}
& a{
    font-size: 2rem;
}

    }
    .counter__h2{
        font-size: 3rem;
    }
    .counter__body{
        display: flex;
        justify-content: center;
        
        background-image: url(../img/f124772add8643a64bcf03d9d67665fe.jpg);
        background-attachment: fixed;
        & h3{
            font-size: 1.4rem;
        }
        & .counter__section{
            background-color: rgba(0, 0, 0, 0.418);
            display: flex;
            justify-content: center;
            align-items: center;
        & .counter__article{
            display: grid;
            grid-template-columns: repeat(5, 150px);
            grid-template-rows: repeat(8, 150px);
            & .counter__img{
                width: 100%;
                height: 100%;
                grid-column: 1/4;
                grid-row: 1/4;
            }
            & .counter__img2{
                padding: 20px;
                grid-column: 3/6;
                grid-row: 4/7;
            }
            & p{
                font-size: 2rem;
                grid-column: 4/6;
                grid-row: 1/4;
            }
            & .counter__p{
                padding: 20px;
                font-size: 1.8rem;
                grid-column: 1/3;
                grid-row: 4/7;
            }
            & iframe{
                padding-top: 40px;
                grid-row: 7/9;
                grid-column: 2/5;
            }
        }
            
            }
        }
    }

