@media (max-width: 800px) {
    .teams__main {
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;

        & .teams__box {
            padding-top: 10px;
            width: 95%;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        & .teams__title {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: $color-titulo;
            text-decoration: underline;
            text-shadow: 0 0 10px #FFFFFF, 2px 0px 0px #DADADA;
        }

        & .teams__challenger {
            & .teams__challenger-title {
                color: $color-titulo;
                text-align: center;
                padding: 10px;
                text-shadow: 0 0 10px #FFFFFF, 2px 0px 0px #DADADA;

            }
        }

        &-list {
            padding-top: 10px;

        }

        & li {
            list-style: circle;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .teams__legends {
            &-title {
                color: $color-titulo;
                padding: 10px;
                text-align: center;
                text-shadow: 0 0 10px #FFFFFF, 2px 0px 0px #DADADA;
            }

        }
    }
}

@media (min-width: 800px) and (max-width: 1024px) {
    header nav ul {
        width: 100%;
        height: 210px;
        font-size: 2rem;
        background-image: none;
        background-color: black;
    }

    .teams__main {
        background-color: black;

        & .teams__box {
            width: 95%;
            background-image: url(../img/img-equipos.jpg);
            background-attachment: fixed;
            background-size: 800px 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            background-attachment: fixed;

            & .teams__title {
                color: $color-titulo;
                font-size: 3rem;
            }

            & .teams__challenger {
                display: grid;
                grid-template-columns: repeat(14, 50px);
                grid-template-rows: repeat(20, 50px);

                & h2 {
                    font-size: 1.5rem;
                    grid-column: 3/14;
                    grid-row: 1/4;
                }

                & p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    font-size: 1.2rem;
                    grid-column: 2/14;
                    grid-row: 3/5;
                }

                & .teams__challenger-list {
                    width: 600px;
                    grid-column: 2/15;
                    grid-row: 6;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
            }

            & .teams__legends {
                display: grid;
                grid-template-columns: repeat(14, 50px);
                grid-template-rows: repeat(18, 50px);

                & h2 {
                    color: $color-titulo;
                    font-size: 2rem;
                    text-align: center;
                    grid-column: 2/14;
                    grid-row: 1/3;
                }

                & p {
                    text-align: center;
                    font-size: 1.7rem;
                    grid-column: 2/14;
                    grid-row: 3/8;
                }

                & .teams__legends-list {
                    width: 600px;
                    font-size: 1.2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    gap: 10px;
                    grid-column: 2/15;
                    grid-row: 11;
                }


            }

            & div ul li:hover {
                background-color: black;
                border-radius: 5px;
                color: gold;
                -moz-transform: scale(1.3);
                -webkit-transform: scale(1.3);
                -o-transform: scale(1.3);
                -ms-transform: scale(1.3);
                transform: scale(1.3);
            }
        }

    }
}

@media (min-width: 1024px){
    header nav ul {
        width: 100%;
        height: 210px;
        font-size: 2rem;
        background-image: none;
        background-color: black;
    }

    .teams__main {
        background-color: black;

        & .teams__box {
            overflow: hidden;
            width: 95%;
            background-image: url(../img/img-equipos.jpg);
            background-attachment: fixed;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            background-attachment: fixed;

            & .teams__title {
                color: $color-titulo;
                font-size: 4rem;
            }

            & .teams__challenger {
                display: grid;
                grid-template-columns: repeat(24, 50px);
                grid-template-rows: repeat(28, 50px);

                & h2 {
                    font-size: 3rem;
                    text-align: center;
                    color: $color-titulo;
                    grid-column: 3/22;
                    grid-row: 1/2;
                }

                & p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    font-size: 2rem;
                    grid-column: 2/23;
                    grid-row: 6;
                }

                & .teams__challenger-list {
                    width: 1000px;
                    font-size: 1.7rem;
                    grid-column: 3/22;
                    grid-row: 10;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
            }

            & .teams__legends {
                display: grid;
                grid-template-columns: repeat(24, 50px);
                grid-template-rows: repeat(18, 50px);

                & h2 {
                    color: $color-titulo;
                    font-size: 3rem;
                    text-align: center;
                    grid-column: 3/22;
                    grid-row: 1/2;
                }

                & p {
                    text-align: center;
                    font-size: 1.7rem;
                    grid-column: 2/23;
                    grid-row: 3;
                }

                & .teams__legends-list {
                    width: 1000px;
                    font-size: 1.7rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    gap: 10px;
                    grid-column: 3/22;
                    grid-row: 8;
                }


            }

            & div ul li:hover {
                background-color: black;
                border-radius: 5px;
                color: gold;
                -moz-transform: scale(1.3);
                -webkit-transform: scale(1.3);
                -o-transform: scale(1.3);
                -ms-transform: scale(1.3);
                transform: scale(1.3);
            }
        }

    }
}